
* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vw;
  width: 100%;
  font: 100%/1.3 'Cinzel', serif, Verdana, Arial, Helvetica, sans-serif;
background-color: rgb(255, 252, 245);
}



.wrapper {
  display: block;
}

main {
background-color: rgb(255, 252, 245);
  padding: 0px;
  z-index: 1;
 position: relative;
}

#holder {
  width: 90%;
  margin: auto;
}

h1, h2 {
  font-weight: 500;
  letter-spacing: 0.3rem;
font-family: 'Mystery Quest', cursive;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 3%;
}

p {
  margin: 0;
  font-size: 1.4rem;
  font-family: 'Cinzel', serif;
}

#header  {
  padding: 30px 0px;
  top: 0;
  right: 0px;
  z-index: 4;
background-color: rgb(255, 252, 245);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: #66004d;
  font-weight: 600;
  left: 0;
  width: 100%;
  font-size: 1rem;
  position: fixed;
  transition: 3s;
border-bottom:  2px solid rgba(255, 247, 230);
}

#header.mystyle {
  padding: 15px 0px;
}


nav {
  width: 100%;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding-left: 0px;
}

#menu > li.logo_container {
  flex: 0 0 100%;
  padding-bottom: 50px;
  transition: all 0.3s linear;
}


#header.mystyle #menu > li.logo_container {
  padding: 0;
  height: 0;
  opacity: 0;
}

 nav > ul > li > a {
   text-decoration: none;
   display: block;
   text-align: center;
  color: #1a1a00;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   position: relative;
   -webkit-transform: scale(1);
   transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
 }

 nav > ul > li > a:hover:not(.logo_link),
 nav > ul > li > a:active:not(.logo_link),
 nav > ul > li > a:focus:not(.logo_link),
 nav > ul > li > a.active{
   -webkit-transform: scale(1.1);
 text-decoration: none;
   color: #66004d;
 }


 .logo {
   width: 200px;
   height: auto;
 }


.bg_image {
  background-image: url('../bilder/lidia_temple_big.jpg');
  background-position: center center;
  background-size: cover;
  width: 100%;
  padding-top: 56.25%;
  height: auto;
}

.overlay {
  text-align: center;
color: rgb(255, 252, 245);
  padding-bottom: 8rem;
}


section > div > h2 {
color: #66004d;
}


#about > div {
  margin: 2% 2% 0 0;
  float: left;
  display: inline-block;
  width: 53%;
}

.image {
  width: 45%;
  height: auto;

}


.section_contain {
  border-bottom: 1px solid rgba(255, 238, 204, 0.6);
    padding: 10% 0% 10% 0%;
}


.moksha_holder {
  background-image: url("../bilder/forty_two_monks.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 0;
   padding: 2%;
  height: 700px;
}



.retreats_holder {
  background-image: url("../bilder/yoga_retreat.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 0;
   padding: 2%;
  height: 700px;
}

.moksha_holder::after,
.retreats_holder::after {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  top: 0;
  left: 0;
}



 div.img_wrap {
  text-align: center;
}

 div.img_wrap > img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


.ilustration {
  text-align: center;
  margin: 10% 0%;
}

 .ilustration img {
   width: 20%;
   height: auto;
 }

#massage_and_healing > div{
  padding: 2% 0 0 2%;
  display: inline-block;
  float: right;
  width: 55%;
}


#contact_details > div > p {
  padding-bottom: 4%;
}

.name_field,
.email_field{
  width: 47%;
background: transparent;
  display: inline-block;
}

.name_field {
  margin-right: 2.5%;
}

.email_field {
  margin-left: 2.5%;
}


input {
  width: 100%;
  height: 40px;
  border: 0;
  background-color: #fff7e6;
  border-radius: 4px;
}

label {
  font-size: 1.6rem;
}

 #message {
  display: block;
  width: 100%;
  height: 200px;
  padding: 0.5rem 0rem;
  border: 0;
  background-color: #fff7e6;
  border-radius: 4px;
}


.btn_holder {
	text-align: center;
width: 100%;
display: inline-block;
margin-top: 2rem;
}

.main_btn {
  width: 260px;
  height: 60px;
  border: 1px solid #66004d;
  border-radius: 40px;
  color: #66004d;
  line-height: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-size: 1.4rem;
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}

.main_btn:hover,
.main_btn:active {
  border: 2px solid #66004d;
  background-color: #66004d;
   color: rgba(255, 250, 240, 1);
}


footer {
  width: 100%;
  height: 700px;
  background-color: #66004d;
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
      left:0;
      z-index:-1;
}

footer > div {
color: #fffaf0;
display: block;
bottom: 20px;
    width: 100%;
position: relative;
display: flex;
justify-content: space-around;
}

.first_chakra {
  display: block;
    width: 100%;
    margin: 0 !important;
}

 .fade_up {
opacity: 0;
transform: translate(0, 80px);
transition: all 3s;
}

.fade_up.visible {
opacity: 1;
  transform: translate(0, 0);
}


.fadein {
  opacity: 0;
}

.white_text,
.white_header {
  color: #fff;
}



@media screen and (max-width: 900px) {

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
}



#header.mystyle {
  padding: 20px 0px;
}


#header  #menu > li.logo_container {
  padding: 30px 0px 20px 0px;
}

#header.mystyle #menu > li.logo_container {
      padding: 20px 0px 30px 0px;
      opacity: 1;
}

#menu > li.logo_container  a {
  position: absolute;
  display: block;
  top: -20px;
}

.navbar a:not(.logo_link)
 {
   display: none;
 }

 .navbar a.icon {
   padding: 0px;
   display: block;
   position: fixed;
   right: 20px;
   top: 45px;
 }

.navbar.responsive {
padding-bottom: 100px;
padding-top: 40px;
}

.navbar.responsive > #toggle_switch.test,
.navbar.responsive > #toggle_switch {
display: block;
top: 330px;
}



  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

.navbar.responsive > nav  {
margin-right: auto;
margin-left: auto;
}



.nav--top > ul {
padding-right: 0px;
}

#menu > li:nth-child(2) {
  margin-top: 0px;
}

.navbar.responsive > .nav--top > ul > li {
display: block;
width: 100%;
margin-top: 3rem;
margin-left: auto;
margin-right: auto;
}


.navbar.responsive > nav--top > a {
float: none;
  text-align: left;
}


  .hamburger-icon-container {
    padding: 0px;
    height: 1.7em;
    width: 1.7em;
    position: relative;
    cursor: pointer;
  }

  .hamburger-icon,
  .hamburger-icon:before,
  .hamburger-icon:after {
    content: '';
    position: absolute;
    height: 2.5px;
    padding: 0px;
    background: #66004d;
    border-radius: 10px;
    width: 2.6em;
    transition: all .2s ease;
  }

  .hamburger-icon {
    top: 0.75em;
    right: 0em;
  }

  .hamburger-icon:before {
    top: -0.55em;
    right: 0em;
  }

  .hamburger-icon:after {
    top: 0.55em;
    right: 0em;
    }

  .hamburger-active .hamburger-icon {
    background: transparent;
    transform: rotate(-135deg)
  }

  .hamburger-active .hamburger-icon:before,
  .hamburger-active .hamburger-icon:after {
    top: 0
  }

  .hamburger-active .hamburger-icon:before {
    transform: rotate(90deg)
  }

.moksha_holder,
.retreats_holder {
  height: 500px;
}


.section_contain
 {
padding: 25% 0% 10% 0% ;
}

.ilustration {
  margin: 15% 0% 0% 0%;
}


}


@media screen and (max-width: 767px) {

  p {
      font-size: 1rem;
  }

  h2 {
      font-size: 2.2rem;
  }


  #home > article.lotus > img {
    width: 25%;
    height: auto;
}

#holder {
  width: 95%;
}

.moksha_holder,
.retreats_holder {
    height: 400px;
}


}


@media screen and (max-width: 600px) {

#header {
  padding: 20px 0px;
}

#header.mystyle {
  padding: 10px 0px;
}

footer {
  height: 500px;
}

.first_chakra {
  padding-bottom: 20%;
}


.logo {
  width: 150px;
}

#menu > li.logo_container a {
  top: -5px;
}

.navbar a.icon {
  top: 32px;
}

.bg_image {
  height: 200vw;
}

.image {
  width: 100%;
}

.ilustration img {
  width: 40%;
}

h1 {
  font-size: 2rem;
}

#about > div,
#massage_and_healing > div{
  display: block;
  margin: 0;
  padding: 0 0 2% 0;
  float: none;
  width: 100%;
}

.name_field, .email_field {
width: 100%;
display: block;
}

.email_field {
  margin-left: 0;
}

}
